@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.contact2 a{
    text-decoration: none;
    color: white;
    font-size: 16px;
    font-family: Space Grotesk;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    word-wrap: break-word;

}

.border4{
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    width: 125px;
    height: 2px;
    display: flex;
    margin-top: 4px;
}

.isnideproject{
    color: white;
    font-size: 40px;
    font-family: Space Grotesk;
    font-weight: 700;
    line-height: 40px;
    word-wrap: break-word;
    overflow: hidden;
}

.project{
    margin-left: 16px;
    margin-right: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 55px ;
    margin-top: 100px;
}

.cardimg{
    width: 340px;
    margin: 40px 16px;
}

.maingrid{
    display: grid;
    justify-content: center;
}

.firsth1{
    color: white;
    font-size: 24px;
    font-family: Space Grotesk;
    font-weight: 700;
    line-height: 32px;
    word-wrap: break-word;
}

.languages h5{
    color: #D9D9D9;
    font-size: 18px;
    font-family: Space Grotesk;
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
    margin-top: 7px;
}

.firsttxt{
    margin-left: 16px;
}

.border5{
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    width: 135px;
    height: 2px;
    display: flex;
    margin: 4px 16px;
}
.border6{
    background: linear-gradient(to top, #c471f5 0%, #fa71cd 100%);
    width: 100px;
    height: 2px;
    display: flex;
    margin: 4px 16px;
}

.project2 a,.code a{
    color: white;
    font-size: 16px;
    font-family: Space Grotesk;
    font-weight: 700;
    line-height: 26px;
    letter-spacing: 2.29px;
    word-wrap: break-word;
    margin-left: 16px;
    margin-right: 16px;
    text-decoration: none;
}

.viewproject{
    display: flex;
    align-items: center;
    
    margin-top: 20px;
}

.languages2{
    display: flex;
    gap: 10px;
}

.width2{
    height: 250px;
}


@media(width >= 768px) {
    .maingrid{
        display: grid;
        grid-template-columns: auto auto;
    }

    .project{
        gap: 450px;
    }

    .cardimg{
        width: 350px;
    }
    .width2{
        height: 258px;
    }
}