@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300;400;500;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.bord {
    display: flex;
    justify-content: center;
    margin-top: 60px;
    margin-bottom: 40px;
}

.border3 {
    width: 343px;
    height: 2px;
    background-color: white;
    z-index: 2;
}

.grid {
    display: grid;
    align-items: center;
    text-align: center;
    gap: 24px;
    margin-top: 24px;
    overflow: hidden;
}

.lang {
    color: white;
    font-size: 48px;
    font-family: 'Space Grotesk';
    font-weight: 700;
    line-height: 56px;
    word-wrap: break-word;
    overflow: hidden;
    animation: colorChange 5s infinite; 
}

@keyframes colorChange {
    0% {
        color: white;
    }
    50% {
        color: purple;
    }
    100% {
        color: white;
    }
}

.par {
    color: #D9D9D9;
    font-size: 18px;
    font-family: 'Space Grotesk';
    font-weight: 500;
    line-height: 28px;
    word-wrap: break-word;
}

.bgimg {
    position: absolute;
    right: 0;
    top: 1680px;
}

@media (width >= 768px) {
    .border3 {
        width: 96%;
        position: absolute;
        top: 650px;
    }

    .grid {
        display: grid;
        grid-template-columns: auto auto;
        gap: 50px;
        text-align: left;
        padding-left: 16px;
        margin-top: 60px;
        overflow: hidden;
        margin-top: 600px;
    }

    .bgimg {
        top: 1100px;
    }
}

@media (width >= 1440px) {
    .grid {
        grid-template-columns: repeat(3, auto);
        margin-left: 130px;
    }

    .bgimg {
        top: 900px;
    }
}
